# vscode
.vscode

# migrations and sqlite database
*.db
*.pyc
server/migrations


# GITIGNORE FOR REACT APPLICATION
# dependencies
front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
