{% extends 'base.html' %}

{% block content %}

<div class="row" style="margin-top: 2.5%;">
  <div class="offset-md-2 col-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Recent Workouts:</h3>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Workout templates:</h3>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>

{% endblock %}
