{% extends 'base.html' %}

{% block content %}

<div class="row" style="width:100%;height: 100vh; background-color: lightblue; padding-top: 2.7%;padding-bottom: 1.7%; margin:0px;">
  <div class="col">

  </div>
  <div class="col">
      <div class="card text-white bg-primary">
          <div class="card-header text-center bg-primary">
            <h2>Create workout templates and track your progress</h1>
          </div>
          <div class="card-body">
            <ul style="font-size:1.5rem;">
              <li>Log workout sessions using templates you created</li>
              <li>Get notified when you hit a PR!</li>
            </ul>
          </div>
        </div>
  </div>
</div>

<div class="row" style="width:100%;height: 100vh; background-color: darkcyan; padding-top: 2.7%;padding-bottom: 1.7%; margin:0px;">
    <div class="col">
  
    </div>
    <div class="col">
        <div class="card text-white bg-primary">
            <div class="card-header text-center bg-primary">
              <h2>Create workout templates and track your progress</h1>
            </div>
            <div class="card-body">
              <ul style="font-size:1.5rem;">
                <li>Log workout sessions using templates you created</li>
                <li>Get notified when you hit a PR!</li>
              </ul>
            </div>
          </div>
    </div>
  </div>

{% endblock %}
